Base 64

From Carsten

for the byte strings (namesSpace, trackName), you probably want to use base64url without padding or extra blank space (reference Section 5 of RFC 4648, compare "Base64url Encoding” in Section 2 of RFC 7515).